html, body {
  height: 100%;
  margin: 0;
//  cursor: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@four-picture-width: 230px;
@four-picture-height: 280px;

.four-pictures-container {
  height: 730px;
  width: 500px;
  margin: 0px auto;
  padding: 20px;
}

.four-pictures {
  float: left;
  width: 500px;
  height: 730px;
  box-shadow: 1px 1px 12px #555;
  .pictures {
    width: inherit;
    height: 600px;
    .picture {
      float: left;
      width: @four-picture-width;
      height: @four-picture-height;
      margin: 10px;
    }
  }

  .message {
    width: inherit;
    height: 130px;
  }

  &:active {
    box-shadow: 1px 1px 8px #555;
  }
}

.pictures-column {
  float: left;
  background-color: blue;
  width: 25%;
  min-height: 100%;

  .picture {
    background-color: green;
    width: @four-picture-width;
    height: @four-picture-height;
    margin: 50px auto;
  }
}

.preview-column {
  float: left;
  background-color: red;
  min-width: 50%;
  min-height: 100%;
  .preview {
    width: @four-picture-width * 2;
    height: @four-picture-height * 2;
    margin: 60px auto;
  }
}


